services:
    pihole:
       container_name: pihole
       image: pihole/pihole:latest
       ports:
           - "53:53/tcp"
           - "53:53/udp"
           - "8053:80/tcp"
       environment:
           TZ: Asia/Bangkok
           WEBPASSWORD: SecurePass123!
           DNS_FQDN_REQUIRED: "false"
           PIHOLE_DNS_: "127.0.0.1#5335"
       volumes:
           - ./etc-pihole:/etc/pihole
           - ./etc-dnsmasq.d:/etc/dnsmasq.d
       restart: unless-stopped
       cap_add:
           - NET_ADMIN
 
    unbound:
        container_name: unbound
        image: mvance/unbound:latest
        network_mode: "service:pihole"
        volumes:
            - ./unbound.conf:/opt/unbound/etc/unbound/unbound.conf:ro
            - ./root.hints:/opt/unbound/etc/unbound/root.hints:ro
        restart: unless-stopped
